.dropdown {
    position: relative;
    box-sizing: border-box;
    border: 2px solid $border_color;
    cursor: pointer;

    &__caption {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        box-sizing: border-box;
        position: absolute;
        top: 28px;
        left: 0;
        width: 100%;
        padding-top: 20px;
        display: none;
        list-style: none;
        border: 2px solid $border_color;
        background-color: $bg_color;
    }    
}